
:root {
    --color-text: #2E2F42;
    --color-light: #FFFFFF;
    --color-btn: #4D5AE5;
    --color-contacts: #434455;
    --color-footer: #E7E9FC;
    --color-grey: #F4F4FD;
    --color-backround: #F5F5F5;
    --pad-bot:120px;
}

::before,
::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.section
{
  padding-top: 120px;
 /* padding-bottom: 120px; */
   }


h1,h2,h3,h4,h5,h6,p,ul 
{
    margin-bottom: 0;
    margin-top: 0;
}

.container
{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   
    /* outline: 1px solid red; */
}

.header-container
 {
    display: flex;
    align-items: center;  
}

.header 
{
    border-bottom: 2px solid var(--color-grey);
}

.logo-nav 
{
    display: flex;
    align-items: center;
}
.header-list
{
    display: flex;
    align-items: center;
    margin-right: 40px;
}


.header-nav 
{
    display: flex;
    align-items: center;
}


.image-list, 
.image-team-list,
.text-list,
.portfolio-list
{
    display: flex;
}


.gallery-list {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-light);
}

/* header css 2 pages */

.link-webstudio
 { 
    margin-right: 77px;
    padding-top: 24px;
    padding-bottom: 24px;
    

font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height:1.13;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color-text);
text-decoration: none;

}

.link-webstudio span {
 color: var(--color-btn);

 }

.list 
{
list-style: none;
padding: 0;
margin: 0;
 }

 .header-nav {
    margin-right: 331px;
 }
 
.header-link
{ 
padding-top: 24px;
padding-bottom: 24px;

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-contacts);
text-decoration: none;
}

.header-link:hover,
.header-link:focus 
{
color: var(--color-btn);
}

/* tittles */

.visually-hidden
 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
   

/* button-css 2 pages */

.portfolio-list
{
margin-bottom: 72px;
justify-content: center;
align-items: flex-start;   
}

.btn-orderservice
{
padding: 16px 32px;
border-radius: 4px;
border: transparent;

font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
background:var(--color-btn);
color:var(--color-light);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

 .btn-orderservice:hover,
 .btn-focus
{
    background-color:blueviolet;
    cursor: pointer;
}

.btn
 {
    padding: 8px 16px;
    border: 1px solid var(--color-footer);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--color-grey);
    color: var(--color-btn);       
}

.btn:hover,
.btn:focus
 {
    background-color: var(--color-btn);
    color: var(--color-light);
    cursor: pointer;
}

.btn-item 
{
    margin-right: 24px;
}
.btn-item:last-child
{
    margin-right: 0;
}

/* tittles and texts css 2 pages */


.tittle-effective-solutions 
{
    margin-top: 0;
    margin-bottom: 48px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-light);
}

.tittle-team 
{
    margin-bottom: 72px;
}
    
    .effective 
    {
        background: var(--color-text); 
        text-align: center;
        padding-top: 192px;
        padding-bottom: 192px;
    }

 
.tittle-gallery 
{
 margin-bottom: 72px;
 text-align: center;

 font-weight: 700;
 font-size: 36px;
 line-height: 1.11;
 letter-spacing: 0.02em;
 color: var(--color-text);

}




.team-item 
{
    background-color:var(--color-light);
    text-align: center;
    justify-content: space-between;
    margin-right: 24px;
}
.team-item:last-child
{
    margin-right: 0;
}

.team-box
{
    padding-top: 32px;
    padding-bottom: 32px;
}
    
.item+ .item 
{
    margin-left:  24px; 
}

.text-list
{
    flex-grow: 1;
}

.item 
{
justify-content: space-between;
}

.photo-item+ .photo-item 
{
    margin-left: 24px;
}

.our-team 
{
    background:var(--color-backround);
    padding-top: 120px;
    padding-bottom: 120px;
}


.tittle-top
{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.text-top
{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:var(--color-contacts);
}

.gallery
{
    padding-top: 120px;
    padding-bottom: 120px;
}


.gallery-link
{
    text-decoration: none;
}

.gallery-list .gallery-item
{
    margin-right: 24px;
    margin-bottom: 48px; 
}

.gallery-list .gallery-item:nth-child(3n)
{
    margin-right: 0;
}

.gallery-item:nth-child(-n +9) 
{
    margin-left: 0;
}

.gallery-item .img 
{
    margin-bottom: 32px;
}

.border 
{
    border: 0.5px solid #F4F4FD;
    border-top: none;
    padding: 32px 24px;
}

/* footer css 2 pages */



.footer
{
    background: var(--color-text);
    padding-bottom: 100px;
    padding-top: 138px;
}

.link-webstudio-footer
{
    margin-bottom: 16px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-footer);
    text-decoration: none;
}

.link-webstudio-footer span 
{
    color: var(--color-btn);
}
.text-footer
{
    width:264px;
  

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--color-footer);
}

